#lightbox-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity var(--transition);
}

#lightbox {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    max-width: calc(100vw - 220px);
    max-height: calc(100vh - 40px);
}

#lightbox-cont.hidden {
    opacity: 0;
    pointer-events: none;
}

#lightbox-img-cont {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

#lightbox-img-heart {
    position: absolute;
    fill: white;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    filter: drop-shadow(0px 0px 8px black);
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    pointer-events: none;
}

.post-img-heart {
    position: absolute;
    fill: white;
    width: 1800px;
    height: 1800px;
    top: 50%;
    left: 50%;
    filter: drop-shadow(0px 0px 120px black);
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    pointer-events: none;
}

.like-animating #lightbox-img-heart,
.like-animating .post-img-heart {
    animation: like-animation 1s ease-out;
}

#lightbox-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    pointer-events: none;
}

#lightbox-sidebar {
    position: relative;
    width: 200px;
    height: 100%;
    background-color: var(--white-black);
    color: var(--black-white);
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    gap: 10px;
    min-width: 200px;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}

#lightbox-sidebar>*:not(#lightbox-close) {
    max-width: 200px;
    word-wrap: break-word;
    margin-inline: 10px;
}

#lb-sidebar-extras {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#lb-sidebar-title,
.post-title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#lb-sidebar-date,
.post-date {
    font-size: 16px;
    /* font-weight: bold; */
}

#lb-sidebar-info {
    overflow-y: scroll;
    font-size: 14px;
    max-height: 500px;
}

.like-button.like-bump {
    animation: like-bump 0.4s ease-out;
}

#lightbox-close {
    position: absolute;
    right: 0;
    cursor: pointer;
    fill: var(--black-white);
}

.lightbox-arrow {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    border-width: 0 3px 3px 0;
    border-style: solid;
    border-color: white;
}

.lb-arrow-cont {
    position: relative;
    width: 40px;
    min-width: 40px;
    height: 100px;
}

#lightbox-left {
    left: 20px;
    transform: translate(-50%, -50%) rotate(135deg);
    transition: left var(--transition);
}

.lb-arrow-cont:hover>#lightbox-left {
    left: 10px;
}

#lightbox-right {
    right: 0px;
    transform: translate(-50%, -50%) rotate(315deg);
    transition: right var(--transition);
}

.lb-arrow-cont:hover>#lightbox-right {
    right: -10px;
}

@keyframes like-animation {
    0% {
        transform: translate(-50%, -50%) scale(0.7);
        opacity: 0;
    }

    20% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }

    30% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    80% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(0.7);
        opacity: 0;
    }
}

@keyframes like-bump {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }

}

@media screen and (max-width: 500px) {
    #lightbox {
        /* height: calc(100vh - 400px); */
        flex-direction: column;
    }

    #lightbox-sidebar {
        height: 1000px;
        border-radius: 0 0 10px 10px;
        overflow-y: scroll;
        width: 300px;
    }

    #lightbox-sidebar>*:not(#lightbox-close) {
        max-width: 300px;
    }

    #lightbox-img-cont {
        border-radius: 10px 10px 0 0;
        width: 300px;
    }

    #lightbox-img {
        object-position: center;
    }

    .lb-arrow-cont {
        display: none;
    }

}