@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    user-select: none;
}

:root {
    scroll-behavior: smooth;
    --top-bar-height: 60px;
    --transition: 0.2s ease-out;
    --bg-color-start: #28005c;
    --bg-color-end: #070820;
    --header-color: #ffffff80;
    --black-white: #000;
    --white-black: #fff;
    --picker-over: #ffffff40;
    --picker-padding: 2px;
    --over-left: 0px;
    --zero-one: 0;
}

body[scheme="dark"] {
    --bg-color-start: #070820;
    --bg-color-end: #07080D;
    --header-color: #303030aa;
    --black-white: #fff;
    --white-black: #000;
    --picker-over: rgba(184, 184, 184, 0.25);
    --zero-one: 1;
}

body {
    background-image: linear-gradient(to right, var(--bg-color-start), var(--bg-color-end));
    display: flex;
    flex-direction: column;
    padding-top: calc(20px + var(--top-bar-height));
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--top-bar-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: var(--header-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    align-items: center;
    transition: all var(--transition);
}

#logo {
    position: relative;
    font-family: 'Lalezar';
    font-size: 40px;
    color: var(--black-white);
    cursor: pointer;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    transition: all var(--transition);
    margin-left: 10px;
    text-align: left;
}

:not(.logo-small)>#logo::after {
    position: absolute;
    bottom: 6px;
    left: 0;
    content: "All images are from NASA's Astronomy Picture of the Day (APOD) API";
    font-size: 10px;
    width: max-content;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}


.logo-small>#logo {
    font-size: 20px;
}

.logo-small>#scheme-button {
    transform: scale(0.667);
    top: -5px
}

header.logo-small {
    height: calc(var(--top-bar-height) - 20px);
}

#feed-cont {
    padding-block: 40px;
    width: 100%;
    background: transparent;
    transition: background-color var(--transition);
}

#scheme-button {
    position: relative;
    top: 0px;
    height: 100%;
    width: 80px;
    cursor: pointer;
    transition: all var(--transition);
}

#scheme-button-bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--white-black);
    opacity: 0;
    transition: opacity var(--transition);
    z-index: -1;
}

#scheme-button:hover>#scheme-button-bg {
    opacity: 0.8;
}

#scheme-button-inner {
    position: absolute;
    top: 10px;
    left: 40px;
    transform: translate(-20px, 10px);
    border-radius: 50%;
    background-color: var(--black-white);
    height: 20px;
    width: 20px;
    /* transform: translate(-20px, 10px);
    position: relative;
    height: 20px;
    width: 20px;
    box-shadow: -7px 7px 0 5px var(--black-white); */
    transition: all var(--transition);
    box-shadow: 0px 0px 0 0px var(--black-white);
}

#scheme-button-inner.dark {
    top: 2px;
    left: 48px;
    transform: translate(-20px, 10px);
    background-color: transparent;
    box-shadow: -7px 7px 0 5px var(--black-white);
}

.dark>.flare {
    border-width: 0 2px 0px 2px;
}

.flare {
    /* triangle */
    position: absolute;
    top: 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2px 8px 2px;
    border-color: transparent transparent var(--black-white) transparent;
    left: 50%;
    transition: border-width 0.1s ease-in;
}


.flare:nth-child(1) {
    transform: translateX(-50%) rotate(45deg) translateY(-16px);
}

.flare:nth-child(2) {
    transform: translateX(-50%) rotate(90deg) translateY(-16px);
}

.flare:nth-child(3) {
    transform: translateX(-50%) rotate(135deg) translateY(-16px);
}

.flare:nth-child(4) {
    transform: translateX(-50%) rotate(180deg) translateY(-16px);
}

.flare:nth-child(5) {
    transform: translateX(-50%) rotate(225deg) translateY(-16px);
}

.flare:nth-child(6) {
    transform: translateX(-50%) rotate(270deg) translateY(-16px);
}

.flare:nth-child(7) {
    transform: translateX(-50%) rotate(315deg) translateY(-16px);
}

.flare:nth-child(8) {
    transform: translateX(-50%) rotate(0deg) translateY(-16px);
}

#load-more-button {
    background-color: var(--header-color);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--black-white);
    margin: 10px;
}

#loading-animation {
    display: none;
    position: relative;
    margin-bottom: 100px;
}

:not(.loading)+#load-cont>#loading-animation {
    animation: none;
}

.loading+#load-cont>#load-more-button {
    display: none;
}

.loading+#load-cont>#loading-animation {
    display: block;
}

#loading-animation::before {
    content: "Loading...";
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: white;
}

.loader:nth-of-type(1) {
    width: 10px;
    height: 10px;
    transform: translateX(-50%);
    animation: loader-1 1.8s infinite;
    animation-delay: 0s;
}

.loader:nth-of-type(2) {
    width: 6px;
    height: 6px;
    transform: translateX(-50%);
    animation: loader-2 1.8s infinite;
    animation-delay: 0.05s;
}

.loader:nth-of-type(3) {
    width: 4px;
    height: 4px;
    transform: translateX(-50%);
    animation: loader-3 1.8s infinite;
    animation-delay: 0.1s;
}

@keyframes loader-1 {
    0% {
        transform: translateX(-50%) rotate(0deg) translateY(-24px);
    }

    100% {
        transform: translateX(-50%) rotate(360deg) translateY(-24px);
    }
}

@keyframes loader-2 {
    0% {
        transform: translateX(-50%) rotate(0deg) translateY(-12px);
    }

    100% {
        transform: translateX(-50%) rotate(360deg) translateY(-12px);
    }
}

@keyframes loader-3 {
    0% {
        transform: translateX(-50%) rotate(0deg) translateY(-4px);
    }

    100% {
        transform: translateX(-50%) rotate(360deg) translateY(-4px);
    }
}

#options-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#calendar-button {
    position: relative;
    background-color: var(--header-color);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--black-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    fill: var(--black-white);
}

#calendar-button.open {
    border-radius: 8px 8px 0 0;
}

#calendar-field {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: white;
    transform: translateY(100%);
    border-radius: 0 8px 8px 8px;
    background-color: var(--header-color);
    flex-direction: row;
    gap: 6px;
}

#calendar-button.open>#calendar-field {
    display: flex;
}

#calendar-input {
    background-color: transparent;
    color: var(--black-white);
    appearance: none;
    border: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(var(--zero-one));
}

#calendar-go {
    cursor: pointer;
}

footer {
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

footer>a {
    color: white;
}

footer>a:visited {
    color: white;
}