@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    user-select: none;
}

:root {
    scroll-behavior: smooth;
    --top-bar-height: 60px;
    --transition: 0.2s ease-out;
    --bg-color-start: #28005c;
    --bg-color-end: #070820;
    --header-color: #ffffff80;
    --black-white: #000;
    --white-black: #fff;
    --picker-bg: #848484;
    --picker-over: #ffffff40;
    --picker-padding: 2px;
    --over-left: 0px;
}

body[scheme="dark"] {
    --bg-color-start: #070820;
    --bg-color-end: #07080D;
    --header-color: #303030aa;
    --black-white: #fff;
    --white-black: #000;
    --picker-bg: #3d3c42;
    --picker-over: rgba(184, 184, 184, 0.25);
}

body {
    background-image: linear-gradient(to right, var(--bg-color-start), var(--bg-color-end));
    display: flex;
    flex-direction: column;
    padding-top: calc(20px + var(--top-bar-height));
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--top-bar-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: var(--header-color);
    backdrop-filter: blur(10px);
    align-items: center;
    transition: all var(--transition);
}

#logo {
    font-family: 'Lalezar';
    font-size: 40px;
    color: var(--black-white);
    cursor: pointer;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    transition: all var(--transition);
    margin-left: 10px;
}

.logo-small>#logo {
    font-size: 20px;
}

.logo-small>#scheme-button {
    transform: scale(0.667);
    top: -5px
}

header.logo-small {
    height: calc(var(--top-bar-height) - 20px);
}

#feed-cont {
    padding-block: 40px;
    width: 100%;
    background: transparent;
    transition: background-color var(--transition);
}

#feed-cont:empty+header>#logo {
    font-size: 60px;
}

#feed-cont:empty+header>#scheme-button {
    /* display: none; */
}

#scheme-button {
    position: relative;
    top: 0px;
    height: 100%;
    width: 80px;
    cursor: pointer;
    transition: all var(--transition);
}

#scheme-button-bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--white-black);
    opacity: 0;
    transition: opacity var(--transition);
    z-index: -1;
}

#scheme-button:hover>#scheme-button-bg {
    opacity: 0.8;
}

#scheme-button-inner {
    position: absolute;
    top: 10px;
    left: 40px;
    transform: translate(-20px, 10px);
    border-radius: 50%;
    background-color: var(--black-white);
    height: 20px;
    width: 20px;
    /* transform: translate(-20px, 10px);
    position: relative;
    height: 20px;
    width: 20px;
    box-shadow: -7px 7px 0 5px var(--black-white); */
    transition: all var(--transition);
    box-shadow: 0px 0px 0 0px var(--black-white);
}

#scheme-button-inner.dark {
    top: 2px;
    left: 48px;
    transform: translate(-20px, 10px);
    background-color: transparent;
    box-shadow: -7px 7px 0 5px var(--black-white);
}

.dark>.flare {
    border-width: 0 2px 0px 2px;
}

.flare {
    /* triangle */
    position: absolute;
    top: 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2px 8px 2px;
    border-color: transparent transparent var(--black-white) transparent;
    left: 50%;
    transition: border-width 0.1s ease-in;
}


.flare:nth-child(1) {
    transform: translateX(-50%) rotate(45deg) translateY(-16px);
}

.flare:nth-child(2) {
    transform: translateX(-50%) rotate(90deg) translateY(-16px);
}

.flare:nth-child(3) {
    transform: translateX(-50%) rotate(135deg) translateY(-16px);
}

.flare:nth-child(4) {
    transform: translateX(-50%) rotate(180deg) translateY(-16px);
}

.flare:nth-child(5) {
    transform: translateX(-50%) rotate(225deg) translateY(-16px);
}

.flare:nth-child(6) {
    transform: translateX(-50%) rotate(270deg) translateY(-16px);
}

.flare:nth-child(7) {
    transform: translateX(-50%) rotate(315deg) translateY(-16px);
}

.flare:nth-child(8) {
    transform: translateX(-50%) rotate(0deg) translateY(-16px);
}