[value="Large"]+#feed-cont section {
    scroll-snap-align: center;
}

[value="Compact"]+#feed-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    gap: 20px;
    /* center items */
    justify-content: center;
}

[value="Large"]+#feed-cont {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

[value="Compact"]+#feed-cont .post-info {
    display: none;
}

.post {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

[value="Large"]+#feed-cont .post {
    max-width: 750px;
    min-width: 250px;
    margin-inline: 20px;
}

.post-image-cont {
    position: relative;
    aspect-ratio: 1/1;
    zoom: 10%;
}

[value="Compact"]+#feed-cont .post-image-cont {
    cursor: pointer;
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

[value="Large"]+#feed-cont .post-image {
    cursor: default;
}

.post-extras {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    /* opacity: 0; */
    transition: opacity var(--transition);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.post:hover .post-extras {
    opacity: 1;
}

.like-button,
.share-button {
    position: relative;
}

.bx-heart-fill {
    position: absolute;
    transform: scale(0);
    left: 0;
    transition: transform var(--transition);
}

.liked .bx-heart-fill {
    transform: scale(1);
}


.bx-check {
    position: absolute;
    left: 0;
    fill: #00b400;
    stroke-width: 2px;
    opacity: 0;
    border-radius: 50%;
    background-color: white;
}

.copied .bx-check {
    animation: copied-check 2s;
}

.bx-link {
    position: relative;
    top: 0;
    left: 0;
}

.copied .bx-link {
    animation: copied-link 2s;
}

.post-extras>.box-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 10px;
    height: 40px;
    width: 24px;
}

.box-icon {
    cursor: pointer;
    fill: var(--black-white);
}

path,
svg {
    pointer-events: none;
}

[value="Compact"]+#feed-cont .post-extras {
    position: absolute;
    bottom: 0;
    background-color: var(--header-color);
}

[value="Large"]+#feed-cont .post-extras {
    background-color: var(--white-black);
}

@keyframes copied-link {
    0% {
        left: 0;
        opacity: 1;
    }

    25% {
        left: 24px;
        opacity: 0;
    }

    75% {
        left: 24px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes copied-check {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.post-info {
    background-color: var(--white-black);
    color: var(--black-white);
    padding: 0 10px 10px 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-desc {
    font-size: 14px;
    max-height: 180px;
    overflow-y: scroll;
}