@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

:root {
    scroll-behavior: smooth;

    --top-bar-height: 60px;
    --transition: 0.2s ease-out;
    --bg-color: #acebf3;
    --header-color: #ffffffaa;
    --header-text-color: #000;
}

body[scheme="dark"] {
    --bg-color: #4d0080;
    --header-color: #000000aa;
    --header-text-color: #fff;
}

body {
    background-color: var(--bg-color)
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--top-bar-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--header-color);
    backdrop-filter: blur(10px);
    transition: height var(--transition);
}

#logo {
    font-family: 'Lalezar';
    font-size: 40px;
    color: var(--header-text-color);
    transition: all var(--transition);
    cursor: pointer;
    align-self: center;
    width: max-content;
}

.logo-small>#logo {
    font-size: 20px;
}

header.logo-small {
    height: calc(var(--top-bar-height) - 20px);
}

#scheme-button {
    position: absolute;
}

#feed-cont {
    padding-top: var(--top-bar-height);
    width: 100%;
}